@use "sass:map" as *;
@use "../public" as *;
@use "../abstract" as *;

$pixel-light-palette: (
  gray-0: #ffffff,
  gray-1: #e4e4e4,
  gray-2: #c0c0c0,
  gray-3: #a0a0a0,
  gray-4: #808080,
  gray-5: #606060,
  gray-6: #404040,
  gray-7: #282828,
  gray-8: #141414,
  gray-9: #000000,

  blue-0: #e0f0ff,
  blue-1: #b3d9ff,
  blue-2: #80bfff,
  blue-3: #4da6ff,
  blue-4: #29adff,
  blue-5: #0088ff,
  blue-6: #0066cc,
  blue-7: #004499,
  blue-8: #002266,
  blue-9: #001133,

  green-0: #e0ffe0,
  green-1: #b3ffb3,
  green-2: #80ff80,
  green-3: #4dff4d,
  green-4: #00e436,
  green-5: #00cc22,
  green-6: #009911,
  green-7: #006600,
  green-8: #003300,
  green-9: #001100,

  yellow-0: #ffffe0,
  yellow-1: #ffffb3,
  yellow-2: #ffff80,
  yellow-3: #ffec27,
  yellow-4: #ffd500,
  yellow-5: #ffaa00,
  yellow-6: #cc8800,
  yellow-7: #996600,
  yellow-8: #664400,
  yellow-9: #332200,

  red-0: #ffe0e0,
  red-1: #ffb3b3,
  red-2: #ff8080,
  red-3: #ff4d4d,
  red-4: #ff004d,
  red-5: #cc003d,
  red-6: #99002e,
  red-7: #66001f,
  red-8: #33000f,
  red-9: #1a0008,

  accent-0: #ffe6f2,
  accent-1: #ffb3d9,
  accent-2: #ff80bf,
  accent-3: #ff4da6,
  accent-4: #ff007a,
  accent-5: #cc0062,
  accent-6: #990049,
  accent-7: #660031,
  accent-8: #330018,
  accent-9: #1a000c,

  aux-0: #FFFEF5,
  aux-1: #FFFEEE,
  aux-2: #FFFDE7,
  aux-3: #FEFDE0,
  aux-4: #FEFCD9,
  aux-5: #FEFCD0,
  aux-6: #FCF681,
  aux-7: #FBF130,
  aux-8: #D4CA04,
  aux-9: #837D03,
);
$pixel-dark-palette: (
  gray-0: #000000,
  gray-1: #141414,
  gray-2: #282828,
  gray-3: #404040,
  gray-4: #606060,
  gray-5: #808080,
  gray-6: #a0a0a0,
  gray-7: #c0c0c0,
  gray-8: #e4e4e4,
  gray-9: #ffffff,

  blue-0: #001133,
  blue-1: #002266,
  blue-2: #003399,
  blue-3: #0044cc,
  blue-4: #1a66ff,
  blue-5: #3388ff,
  blue-6: #5ca3ff,
  blue-7: #92c5ff,
  blue-8: #c2e0ff,
  blue-9: #e8f4ff,

  green-0: #002200,
  green-1: #004400,
  green-2: #007700,
  green-3: #00aa00,
  green-4: #00dd00,
  green-5: #22ff22,
  green-6: #55ff55,
  green-7: #88ff88,
  green-8: #c2ffc2,
  green-9: #e8ffe8,

  yellow-0: #443300,
  yellow-1: #775500,
  yellow-2: #aa7700,
  yellow-3: #dd9900,
  yellow-4: #ffbb00,
  yellow-5: #ffd222,
  yellow-6: #ffe055,
  yellow-7: #ffeb88,
  yellow-8: #fff6c2,
  yellow-9: #fffce8,

  red-0: #440000,
  red-1: #770000,
  red-2: #aa0000,
  red-3: #cc0000,
  red-4: #ee0000,
  red-5: #ff2222,
  red-6: #ff5555,
  red-7: #ff8888,
  red-8: #ffc2c2,
  red-9: #ffe8e8,

  accent-0: #440000,
  accent-1: #770000,
  accent-2: #aa0000,
  accent-3: #cc0000,
  accent-4: #ee0000,
  accent-5: #ff2222,
  accent-6: #ff5555,
  accent-7: #ff8888,
  accent-8: #ffc2c2,
  accent-9: #ffe8e8,

  aux-0: #1E0132,
  aux-1: #2C014C,
  aux-2: #3B0165,
  aux-3: #4A017E,
  aux-4: #6902B3,
  aux-5: #8802E8,
  aux-6: #A222FD,
  aux-7: #B857FD,
  aux-8: #CE8CFE,
  aux-9: #E4C0FE,
);

$pixel-light-palette: deep-merge($base-light-palette, $pixel-light-palette);
$pixel-dark-palette: deep-merge($base-dark-palette, $pixel-dark-palette);

$pixel-nums: null !default;

@include palette($pixel-light-palette);
$pixel-nums: (1, 2, 3, 4, 5, 6, 7, 8);
$pixel-light: (
  text: (
    primary: g(gray-9),
    secondary: g(gray-7),
    tertiary: g(gray-5),
    disable: g(gray-3),
    inverse: g(gray-0)
  ),
  link: (
    base: g(blue-5),
    hover: g(blue-6),
    active: g(blue-7),
    disable: g(gray-3)
  ),
  border: (
    primary: g(gray-9),
    secondary: g(gray-4),
    tertiary: g(gray-2)
  ),
  bg: (
    primary: g(gray-0),
    secondary: g(gray-1),
    tertiary: g(gray-2)
  ),

  primary: s("blue", $pixel-nums),
  success: s("green", $pixel-nums),
  warning: s("yellow", $pixel-nums),
  danger:  s("red", $pixel-nums),
  info:    s("gray", $pixel-nums),

  accent: (
    bg-disabled: g(aux-2),
    bg:          g(aux-4),
    bg-hover:    g(aux-5),
    bg-active:   g(aux-7),
    disabled:    g(accent-2),
    base:        g(accent-4),
    hover:       g(accent-5),
    active:      g(accent-7),
  ),
);

@include palette($pixel-dark-palette);
$pixel-dark: (
  text: (
    primary: g(gray-9),
    secondary: g(gray-7),
    tertiary: g(gray-5),
    disable: g(gray-3),
    inverse: g(gray-0)
  ),
  link: (
    base: g(blue-5),
    hover: g(blue-6),
    active: g(blue-7),
    disable: g(gray-4)
  ),
  border: (
    primary: g(gray-9),
    secondary: g(gray-4),
    tertiary: g(gray-2)
  ),
  bg: (
    primary:   g(gray-0),
    secondary: g(gray-1),
    tertiary:  g(gray-2)
  ),

  info:    s("blue", $pixel-nums),
  success: s("green", $pixel-nums),
  warning: s("yellow", $pixel-nums),
  danger:  s("red", $pixel-nums),

  accent: (
    bg-disabled: g(aux-2),
    bg:          g(aux-4),
    bg-hover:    g(aux-5),
    bg-active:   g(aux-7),
    disabled:    g(accent-2),
    base:        g(accent-4),
    hover:       g(accent-5),
    active:      g(accent-7),
  )
);

$pixel-foundation: (
  font-weight: (
    light: 400,
    normal: 500,
    medium: 600,
    semibold: 700,
    bold: 800,
  ),
  border-width: (
    none: 0,
    thin: 2px,
    base: 3px,
    thick: 4px,
  ),
  border-radius: (
    none: 0,
    xs: 2px,
    sm: 4px,
    md: 4px,
    lg: 4px,
    xl: 4px,
    full: 0,
  )
) !default;
$pixel-foundation: deep-merge($base-foundation, $pixel-foundation);

@mixin pixelArt($is-default: false) {
  @include registerTheme("pixel-art", $pixel-foundation, $pixel-light, $pixel-dark, $is-default) {
    @include useFont("ArkPixel", "Monaco");
  }
}