// reference: https://github.com/linxsbox/juejin-markdown-theme-cyanosis/blob/main/cyanosis.scss
@mixin cyanosisLight {
  --cyanosis-base-color: #353535;
  --cyanosis-title-color: #005bb7;
  --cyanosis-strong-color: #2196f3;
  --cyanosis-em-color: #4fc3f7;
  --cyanosis-del-color: #ccc;
  --cyanosis-link-color: #3da8f5;
  --cyanosis-linkh-color: #007fff;
  --cyanosis-border-color: #bedcff;
  --cyanosis-border-color-2: #ececec;
  --cyanosis-blockquote-color: #8c8c8c;
  --cyanosis-blockquote-bg-color: #f0fdff;
  --cyanosis-code-color: #c2185b;
  --cyanosis-code-bg-color: #fff4f4;
  --cyanosis-code-pre-color: #f8f8f8;
  --cyanosis-table-border-color: #c3e0fd;
  --cyanosis-table-th-color: #dff0ff;
  --cyanosis-table-tht-color: #005bb7;
  --cyanosis-table-tr-nc-color: #f7fbff;
  --cyanosis-table-trh-color: #e0edf7;
  --cyanosis-slct-title-color: #005bb7;
  --cyanosis-slct-titlebg-color: rgba(175, 207, 247, 0.25);
  --cyanosis-slct-text-color: #c80000;
  --cyanosis-slct-bg-color: rgba(175, 207, 247, 0.25);
  --cyanosis-slct-del-color: #999;
  --cyanosis-slct-elbg-color: #e8ebec;
  --cyanosis-slct-codebg-color: #ffeaeb;
  --cyanosis-slct-prebg-color: rgba(160, 200, 255, 0.25);
}

@mixin cyanosisDark {
  --cyanosis-base-color: #cacaca;
  --cyanosis-title-color: #ddd;
  --cyanosis-strong-color: #fe9900;
  --cyanosis-em-color: #ffd28e;
  --cyanosis-del-color: #ccc;
  --cyanosis-link-color: #ffb648;
  --cyanosis-linkh-color: #fe9900;
  --cyanosis-border-color: #ffe3ba;
  --cyanosis-border-color-2: #ffcb7b;
  --cyanosis-blockquote-color: #c7c7c7;
  --cyanosis-blockquote-bg-color: rgba(255, 199, 116, 0.1);
  --cyanosis-code-color: #000;
  --cyanosis-code-bg-color: #ffcb7b;
  --cyanosis-code-pre-color: rgba(255, 227, 185, 0.5);
  --cyanosis-table-border-color: #fe9900;
  --cyanosis-table-th-color: #ffb648;
  --cyanosis-table-tht-color: #000;
  --cyanosis-table-tr-nc-color: #6d5736;
  --cyanosis-table-trh-color: #947443;
  --cyanosis-slct-title-color: #000;
  --cyanosis-slct-titlebg-color: #fe9900;
  --cyanosis-slct-text-color: #00c888;
  --cyanosis-slct-bg-color: rgba(175, 207, 247, 0.25);
  --cyanosis-slct-del-color: #999;
  --cyanosis-slct-elbg-color: #000;
  --cyanosis-slct-codebg-color: #ffcb7b;
  --cyanosis-slct-prebg-color: rgba(160, 200, 255, 0.25);
}

@mixin transitionColor() {
  transition: color 0.35s;
}

@mixin headTitle($padb: 4px, $fontSize: 24px, $mtop: 36px) {
  padding-bottom: $padb;
  margin-top: $mtop;
  margin-bottom: 10px;
  font-size: $fontSize;
  line-height: 1.5;
  color: var(--cyanosis-title-color);
}

@mixin blockquoteColor {
  color: var(--cyanosis-blockquote-color);
  border-left: 4px solid var(--cyanosis-strong-color);
  background-color: var(--cyanosis-blockquote-bg-color);
}

@mixin cyanosis() {
  .markdown-body {
    word-break: break-word;
    line-height: 1.75;
    font-weight: 400;
    font-size: 14px;
    overflow-x: hidden;
    color: var(--cyanosis-base-color);
    @include transitionColor();

    &>div>:is(h1,h2,h3,h4,h5,h6,p,ol,ul):first-child {
      margin-top: 0;
    }

    h1 {
      @include headTitle(4px, 30px);
      @include transitionColor();
    }

    h2 {
      position: relative;
      padding-left: 10px;
      padding-right: 10px;
      @include headTitle(10px, 24px);
      border-bottom: 1px solid var(--cyanosis-border-color-2);
      @include transitionColor();

      &::before {
        content: "「";
        position: absolute;
        top: -6px;
        left: -14px;
      }

      &::after {
        content: "」";
        position: relative;
        top: 6px;
        right: auto;
      }
    }

    h3 {
      position: relative;
      @include headTitle(0, 20px, 30px);
      @include transitionColor();
      padding-left: 6px;

      &::before {
        content: "»";
        padding-right: 6px;
        color: var(--cyanosis-strong-color);
      }
    }

    h4 {
      @include headTitle(0, 16px, 24px);
      padding-left: 6px;
      @include transitionColor();
    }

    h5 {
      @include headTitle(0, 14px, 18px);
      padding-left: 6px;
      @include transitionColor();
    }

    h6 {
      @include headTitle(0, 12px, 12px);
      padding-left: 6px;
      @include transitionColor();
    }

    p {
      line-height: inherit;
      margin-top: 16px;
      margin-bottom: 16px;
    }

    img {
      max-width: 100%;
    }

    hr {
      position: relative;
      width: 98%;
      height: 1px;
      margin-top: 32px;
      margin-bottom: 32px;
      background-color: var(--cyanosis-border-color);
      border-width: 0;
      overflow: visible;
    }

    a {
      position: relative;
      text-decoration: none;
      color: var(--cyanosis-link-color);
      border-bottom: 1px solid var(--cyanosis-border-color);

      &:hover {
        color: var(--cyanosis-linkh-color);
        border-bottom-color: var(--cyanosis-linkh-color);
      }

      &:active {
        color: var(--cyanosis-linkh-color);
      }

      &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        opacity: 0;
        border-bottom: 1px solid var(--cyanosis-border-color);
        transition: top 0.3s, opacity 0.3s;
        transform: translate3d(0, 0, 0);
      }

      &:hover::after {
        top: 0;
        opacity: 1;
        border-bottom-color: var(--cyanosis-linkh-color);
      }
    }

    table {
      display: inline-block !important;
      font-size: 12px;
      width: auto;
      max-width: 100%;
      overflow: auto;
      border: 1px solid var(--cyanosis-table-border-color);
      border-spacing: 0;
      border-collapse: collapse;

      thead {
        color: #000;
        text-align: left;
        font-size: 14px;
        background: #f6f6f6;
      }

      tr:nth-child(2n) {
        background-color: var(--cyanosis-table-tr-nc-color);
      }

      tr:hover {
        background-color: var(--cyanosis-table-trh-color);
      }

      th,
      td {
        padding: 12px 8px;
        line-height: 24px;
        border: 1px solid var(--cyanosis-table-border-color);
      }

      th {
        color: var(--cyanosis-table-tht-color);
        background-color: var(--cyanosis-table-th-color);
      }

      td {
        min-width: 120px;
      }
    }

    blockquote {
      @include blockquoteColor;
      padding: 1px 20px;
      margin: 22px 0;
      @include transitionColor();

      &::after {
        display: block;
        content: "";
      }

      & > p {
        margin: 10px 0;
      }

      & > b,
      & > strong {
        color: var(--cyanosis-strong-color);
      }
    }

    b,
    strong {
      color: var(--cyanosis-strong-color);
    }

    i,
    em {
      color: var(--cyanosis-em-color);
    }

    del {
      color: var(--cyanosis-del-color);
      &::selection {
        color: var(--cyanosis-slct-del-color);
        background-color: var(--cyanosis-slct-elbg-color);
      }
    }

    ol,
    ul {
      padding-left: 28px;

      li {
        margin-bottom: 0;
        list-style: inherit;

        & .task-list-item {
          list-style: none;

          ul,
          ol {
            margin-top: 0;
          }
        }
      }

      ul,
      ol {
        margin-top: 4px;
      }
    }

    ol li {
      padding-left: 6px;
    }

    details {
      & > summary {
        outline: none;
        color: var(--cyanosis-title-color);
        font-size: 20px;
        font-weight: bolder;
        border-bottom: 1px solid var(--cyanosis-border-color);
        cursor: pointer;
      }

      & > p {
        padding: 10px 20px;
        margin: 10px 0 0;
        color: #666;
        background-color: var(--cyanosis-blockquote-bg-color);
        border: 2px dashed var(--cyanosis-strong-color);
      }
    }

    // selection
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &::selection {
        color: var(--cyanosis-slct-title-color);
        background-color: var(--cyanosis-slct-titlebg-color);
      }
    }

    p,
    ol li,
    ul li {
      &::selection {
        color: var(--cyanosis-slct-text-color);
        background-color: var(--cyanosis-slct-bg-color);
      }
    }

    a,
    b,
    strong,
    i,
    em {
      &::selection {
        background-color: var(--cyanosis-slct-elbg-color);
      }
    }

    table {
      thead th {
        &::selection {
          background-color: transparent;
        }
      }
      tbody td {
        &::selection {
          background-color: var(--cyanosis-slct-bg-color);
        }
      }
    }

    // code
    code {
      padding: 0.065em 0.4em;
      font-size: 0.87em;
      color: var(--cyanosis-code-color);
      word-break: break-word;
      overflow-x: auto;
      background-color: var(--cyanosis-code-bg-color);
      border-radius: 2px;

      &::selection {
        background-color: var(--cyanosis-slct-codebg-color);
      }
    }

    pre {
      overflow: auto;
      position: relative;
      line-height: 1.75;

      > code {
        display: block;
        padding: 16px 12px;
        margin: 0;
        font-size: 12px;
        color: #333;
        word-break: normal;
        overflow-x: auto;
        background: var(--cyanosis-code-pre-color);
        //

        &::-webkit-scrollbar {
          width: 4px;
          height: 4px;
        }

        &::-webkit-scrollbar-track {
          background-color: var(--cyanosis-border-color);
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--cyanosis-strong-color);
          border-radius: 10px;
        }
      }

      > code::selection {
        background-color: var(--cyanosis-slct-prebg-color);
      }
    }

    @media (max-width: 720px) {
      h1 {
        font-size: 24px;
      }

      h2 {
        font-size: 20px;
      }

      h3 {
        font-size: 18px;
      }
    }
  }
}