{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": true,
  "printWidth": 100,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "tabWidth": 4,
        "parser": "json"
      }
    }
  ]
}
