$header-height: 3.75rem;

$docs-space: "xl";
$docs-radius: "lg";
$docs-item-space: "md";

$docs-sidebar-width: 260px;
$docs-aside-width: 200px;

$local-nav-height: 3rem;
$local-nav-toc-width: $docs-aside-width;
$local-nav-toc-height: 400px;

$search-box-margin-block: 100px;
$search-box-height-range: (400px, 800px);

$index-sizes: ("small", "medium", "large");
$index-aligns: ("flex-start", "center", "flex-end");

$shadow-color: getCssVarName("shadow", "color");