@use "sass:meta";
@use "sass:list";
@use "sass:string";
@use "../abstract" as *;

@mixin useIcon($size: 1.2em) {
  svg {
    width: $size;
    height: $size;
    fill: currentColor;
    object-fit: contain;
  }
}

@mixin useNLine($lines: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: $lines;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

@mixin useLink() {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

@mixin useUnselect() {
  user-select: none;
  -webkit-user-select: none;
}

@mixin useScrollHidden() {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

@mixin useBorder($sides: null, $type: "primary", $width: "base", $style: "solid") {
  $w: getCssVar("border-width", $width);
  $c: getCssVar("border", $type);

  $sides-arr: null !default;
  @if meta.type-of($sides) == "list" {
    $sides-arr: $sides;
  } @else {
    $sides-arr: ($sides);
  }

  @each $side in $sides-arr {
    @if $side == null {
      border: $w string.unquote($style) $c;
    } @else {
      border-#{$side}: $w string.unquote($style) $c;
    }
  }
}

@mixin useFlex(
  $direction: row,
  $justify: null,
  $align: null,
  $gap: null,
  $wrap: nowrap,
  $align-content: null
) {
  display: flex;
  flex-direction: string.unquote($direction);
  @if $justify != null {
    justify-content: string.unquote($justify);
  }
  @if $align != null {
    align-items: string.unquote($align);
  }
  @if $gap != null {
    gap: getCssVar("gap", $gap);
  }
  @if $wrap != null {
    flex-wrap: string.unquote($wrap);
  }
  @if $wrap != nowrap and $align-content != null {
    align-content: string.unquote($align-content);
  }
}

@mixin useVisual($is-show: true, $opacity: 100) {
  @if $is-show {
    visibility: visible;
    opacity: getCssVar("opacity", $opacity);
  } @else {
    visibility: hidden;
    opacity: getCssVar("opacity", 0);
  }
}

@mixin useOverlay() {
  background-color: hexRgba(getCssVar("text", "primary"), 0.2);
  backdrop-filter: getCssVar("special", "overlay-filter");
}