@use "sass:map";
@use "abstract" as *;
@use "tokens" as *;

$brand-font-sizes: (
  small: "md",
  medium: "lg",
  large: "2xl",
) !default;

@include b("brand") {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  flex-shrink: 0;

  color: inherit;
  text-decoration: none;

  @include applyToken($gap, "lg");
  @include applyToken($font-weight, "medium");

  &:hover {
    color: getCssVar("primary", "base");
  }

  @include e("logo") {
    position: relative;
    flex-shrink: 0;
    height: 1.5em;
    width: auto;
  }

  @include e("text") {
    flex-shrink: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1em;
    vertical-align: top;
  }

  @each $direction in (row, column, row-reverse, column-reverse) {
    &[data-direction="#{$direction}"] {
      flex-direction: $direction;
    }
  }

  @each $size, $font in $brand-font-sizes {
    &[data-size="#{$size}"] {
      @include applyToken($font-size, $font)
    }
  }
}