@use "sass:map";
@use "abstract" as *;
@use "tokens" as *;
@use "public" as *;

@include b("docs-card") {
  display: flex;
  flex-direction: column;

  border: 1px solid getCssVar("border", "primary");
  background-color: getCssVar("info", "lighter");
  @include applyToken($border-radius, "lg");

  @include applyToken($font-size, "md");
  @include applyToken($font-weight, "light");

  @include useIcon(2em);

  a {
    @include useLink();
  }

  @include e("times") {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 1em;
    color: getCssVar("text", "primary");

    @include applyToken($padding, "xl");

    span {
      @include useNLine(1);
    }
  }

  @include e("quick") {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include applyToken($padding, "lg");
    border-top: 1px solid getCssVar("border", "secondary");
    border-bottom: 1px solid getCssVar("border", "secondary");

    a {
      color: getCssVar("primary", "base");
      @include applyToken($transition, "base");

      &:hover {
        color: getCssVar("primary", "hover");
      }
    }
  }

  @include e("license") {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include applyToken($padding, "lg");
    @include applyToken($gap, "md");

    font-size: 0.95em;
    color: getCssVar("text", "secondary");

    a {
      color: getCssVar("primary", "base");
      @include applyToken($transition, "base");

      &:hover {
        color: getCssVar("primary", "hover");
        text-decoration: underline;
      }
    }

    div {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      @include applyToken($gap, "md");
      @include useIcon(1.2em);

      svg {
        cursor: pointer;
        color: getCssVar("text", "tertiary");
        @include applyToken($transition, "base");

        &:hover {
          color: getCssVar("primary", "base");
          transform: scale(1.1);
        }
      }
    }
  }

  @include e("share") {
    display: none;
  }

  canvas {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;

    @include applyToken($padding, "lg");
  }
}