@use "sass:map";
@use "sass:list";
@use "sass:string";
@use "abstract" as *;
@use "public" as *;

$wrap-placements: (
  "left": "row",
  "top": "col",
  "right": "row-reverse",
  "bottom": "col-reverse",
);

$wrap-size: (
  // min, initial, max, dragger
  "small":  (20%, 30%, 50%, 4px),
  "medium": (30%, 45%, 70%, 4px),
  "large":  (40%, 60%, 90%, 4px),
);

@include b("drawer") {
  inset: 0;
  position: fixed;
  display: flex;
  z-index: getCssVar("z-index", "modal");

  @each $size, $vals in $wrap-size {
    #{getCssVarName("drawer-content-min-size")}: list.nth($vals, 1);
    #{getCssVarName("drawer-content-initial-size")}: list.nth($vals, 2);
    #{getCssVarName("drawer-content-max-size")}: list.nth($vals, 3);
    #{getCssVarName("drawer-dragger-size")}: list.nth($vals, 4);
  }

  @each $place, $direction in $wrap-placements {
    @include m($place) {
      flex-direction: $direction;
    }
  }

  @include when("resize") {
    cursor: col-resize;
  }

  @include m("top", "bottom") {
    @include when("resize") {
      cursor: row-resize;
    }
  }

  @include e("content") {
    background-color: getCssVar("bg", "secondary");
    min-width: getCssVar("drawer-content-min-size");
    width: getCssVar("drawer-content-initial-size");
    max-width: getCssVar("drawer-content-max-size");

    @include m("top", "bottom") {
      min-height: getCssVar("drawer-content-min-size");
      height: getCssVar("drawer-content-initial-size");
      max-height: getCssVar("drawer-content-max-size");
    }
  }

  @include e("dragger") {
    width: getCssVar("drawer-dragger-size");
    @include m("top", "bottom") {
      height: getCssVar("drawer-dragger-size");
    }

    background-color: getCssVar("border", "primary");
    @include when("resize") {
      background-color: getCssVar("accent", "active");
    }
  }

  @include e("overlay") {
    flex: 1;
    @include useOverlay();
  }
}