@use "tokens" as *;
@use "abstract" as *;

@use "nav";
@use "popper";
@use "menu";
@use "brand";
@use "right-menu";

@use "layout";
@use "sidebar";
@use "sub-nav";
@use "toc";

@use "markdown";

// font
@include createFontFace("Monaco", "./assets/Monaco.ttf");
@include createFontFace("LXGW", "./assets/LXGWWenKaiScreen.ttf");
@include createFontFace("ArkPixel", "./assets/ark-pixel-12px-monospaced-zh_cn.ttf.woff2");
@include registerFonts("TEST", "LXGW", "Monaco", true);

// style
@include registerTheme("github-light", $github-light-colors, true) {
  @include markdown.cyanosisLight();
}
@include registerTheme("github-dark", $github-dark-colors) {
  @include markdown.cyanosisDark();
}
@include scopedThemes(null, "github-light", "github-dark") {
  @include markdown.cyanosis();
}

html .shiki span {
  color: var(--shiki-light, inherit)
}

html[md-theme="dark"] .shiki span {
  color: var(--shiki-dark, inherit)
}

// reset
*,
*::before,
*::after {
  // width = padding + border + width
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  scroll-behavior: smooth;

  @include applyToken($z-index, "base");
  // font initial settings
  @include applyToken($font-size, "md");
  @include applyToken($font-weight, "normal");
  @include applyToken($line-height, "normal");
  @include applyToken($letter-spacing, "normal");

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}