@use "sass:map";
@use "abstract" as *;
@use "public" as *;

@include b("layout") {
  min-height: 100vh;
  background-color: getCssVar("bg", "primary");
  @include useFlex(column);
  & > *:nth-of-type(2) {
    flex: 1;
  }
}

@include b("docs") {
  @include useFlex(row);
  background-color: getCssVar("bg", "tertiary");

  @include e("column") {
    flex: 1;
    @include useFlex(column);
  }

  @include e("sidebar") {
    position: relative;
    flex-shrink: 0;
    width: $docs-sidebar-width;
    background-color: getCssVar("bg", "secondary");

    @include useBorder(right);
    @include m("mobile") {
      width: 0;
      border: none;
    }
  }

  @include e("content") {
    flex: 1;
    position: relative;
    padding-inline: getCssVar("padding", "2xl");
    padding-block: getCssVar("padding", "3xl");
    @include useFlex(row, null, start);
  }

  @include e("aside") {
    flex-shrink: 0;
    width: $docs-aside-width;
    @include useFlex(column);
    @include useScrollHidden();

    $asideToTop: calc($header-height + getCssVar("padding", "3xl"));

    padding-left: getCssVar("padding", "2xl");
    position: sticky;
    top: $asideToTop;
    overflow-y: auto;
    max-height: calc(100vh - 2 * $asideToTop);

    @include useVisual();
    @include m("pad", "mobile") {
      @include useVisual(false);
      width: 0;
      padding-left: 0;
    }
  }
}