@use "sass:map";
@use "abstract" as *;
@use "tokens" as *;
@use "public" as *;

@include b("layout") {
  display: flex;
  flex-direction: column;
  background-color: getCssVar("bg", "secondary");
  min-height: 100vh;
  // main layout
  & > *:nth-of-type(2) {
    flex: 1;
  }
}

@include b("docs") {
  display: flex;
  flex-direction: row;

  // content container
  #vti-docs-main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  @include e("sidebar") {
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;
    background-color: getCssVar("bg", "primary");

    // default:mobile
    width: 0;
    @include m("pad", "desktop") {
      width: 260px;
      opacity: 1;
      visibility: visible;
      border-right: 1px solid getCssVar("border", "primary");
    }
  }

  @include e("content") {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: start;

    @include applyToken($gap, "2xl");
    @include applyToken($padding, "2xl");
    padding-block: getToken($padding, "3xl");

    #vti-docs-content {
      flex: 1;
    }
    #vti-docs-aside {
      $asideToTop: calc($header-height + getToken($padding, "3xl"));

      display: flex;
      flex-direction: column;
      position: sticky;
      width: $docs-aside-width;

      top: $asideToTop;
      max-height: calc(100vh - 2*$asideToTop);
      overflow-y: auto;

      @include useScrollHidden();
    }

    @include m("pad", "mobile") {
      #vti-docs-aside {
        visibility: hidden;
        opacity: 0;
        width: 0;
      }
    }
  }
}