@use "sass:map";
@use "sass:list";
@use "abstract" as *;
@use "public" as *;

.markdown-body {
  word-wrap: break-word;
  color: getCssVar("text", "primary");
  font-size: getCssVar("font-size", "md");
  line-height: getCssVar("line-height", "normal");
  margin: getCssVar("padding", "3xl") getCssVar("margin", $docs-space);

  h1, h2, h3, h4, h5, h6 {
    margin-block: getCssVar("margin", "2xl") getCssVar("margin", "md");
    font-weight: getCssVar("font-weight", "semibold");
    line-height: getCssVar("line-height", "tight");
    color: getCssVar("text", "primary");
  }

  h1 {
    margin-top: 0;
    font-size: 2.5em;
    font-weight: getCssVar("font-weight", "bold");
  }

  h2 {
    font-size: 2em;
    padding-bottom: getCssVar("padding", "sm");
    font-weight: getCssVar("font-weight", "bold");
    @include useBorder(bottom, "primary");
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 0.875em;
  }

  p {
    margin-top: 0;
    margin-bottom: getCssVar("margin", "xl");
  }

  em { font-style: italic; }
  strong { font-weight: getCssVar("font-weight", "bold"); }
  s { text-decoration: line-through; color: getCssVar("text", "secondary"); }

  a {
    color: getCssVar("link", "base");
    text-decoration: none;

    &:hover {
      color: getCssVar("link", "hover");
      text-decoration: underline;
    }

    &:active {
      color: getCssVar("link", "active");
    }
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: getCssVar("border-radius", "md");
    margin: getCssVar("margin", "xl") 0;
  }

  blockquote {
    color: getCssVar("text", "secondary");
    background-color: getCssVar("bg", "secondary");

    margin: 0;
    margin-bottom: getCssVar("margin", "xl");
    padding: getCssVar("padding", "md") getCssVar("padding", "xl");
    border-radius: 0 getCssVar("border-radius", "md") getCssVar("border-radius", "md") 0;

    @include useBorder("left", "primary", "thick");
    p:last-child {
      margin-bottom: 0;
    }
  }

  ul, ol {
    padding-left: 1.7em;
    margin-block: 0 getCssVar("margin", "xl");
  }

  li {
    margin-bottom: getCssVar("margin", "sm");
  }

  li > p {
    margin-block: getCssVar("margin", "md");
  }

  ul ul, ul ol, ol ol, ol ul {
    margin-block: getCssVar("margin", "sm") 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: getCssVar("margin", "xl");
    font-size: 0.95em;
  }

  th, td {
    text-align: left;
    @include useBorder(null);
    padding: getCssVar("padding", "md") getCssVar("padding", "xl");
  }

  th {
    background-color: getCssVar("bg", "secondary");
    font-weight: getCssVar("font-weight", "semibold");
  }

  tr:nth-child(even) {
    background-color: getCssVar("bg", "secondary");
  }

  hr {
    height: 0;
    border: 0;
    @include useBorder("bottom", "primary");
    margin-block: getCssVar("margin", "2xl");
  }

  code {
    font-size: 0.875em;
    color: getCssVar("text", "primary");
    background-color: getCssVar("bg", "secondary");
    font-family: getCssVar("code", "font-group"), monospace;
    padding: getCssVar("padding", "xs") getCssVar("padding", "sm");

    border-radius: getCssVar("border-radius", "sm");
    @include useBorder(null, "primary", "thin");
  }

  // rewrite with markdown-it plugin
  pre {
    padding: getCssVar("padding", "xl");
    background-color: getCssVar("bg", "tertiary");
    border-radius: getCssVar("border-radius", "md");
    overflow-x: auto;
    @include useScrollHidden();
    margin-top: 0;
    margin-bottom: getCssVar("margin", "xl");
    line-height: 1.5;

    code {
      font-size: 0.875em;
      background-color: transparent;
      padding: 0;
      border: none;
      border-radius: 0;
    }
  }
}