@use "sass:map";
@use "./abstract" as *;
@use "./tokens" as *;
@use "public" as *;

$menu-config: (
  small: (font-size: "sm", line-height: "tight", min-weight: 180px),
  medium: (font-size: "sm", line-height: "normal", min-weight: 230px),
  large: (font-size: "md", line-height: "relaxed", min-weight: 280px),
);

$menu-button-config: (
  small: (gap: "sm", padding: "sm",),
  medium: (gap: "md", padding: "md",),
  large: (gap: "md", padding: "md",)
);

$menu-group-config: (
  small: ( font-size: "xs", gap: "xs", ),
  medium: ( font-size: "sm", gap: "sm", ),
  large: ( font-size: "md", gap: "sm", ),
);

@include b("menu") {
  display: flex;
  flex-direction: column;

  color: getCssVar("text", "primary");
  @include applyToken($border-radius, "md");

  @each $size, $config in $menu-config {
    @include m($size) {
      @include applyToken($font-size, map.get($config, "font-size"));
      @include applyToken($line-height, map.get($config, "line-height"));
      min-width: map.get($config, "min-weight");
      padding-inline: 0;
    }
  }
}

@include b("menu-button") {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  user-select: none;

  color: getCssVar("text", "secondary");
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @include useIcon(1.2em);

  span {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    color: getCssVar("text", "primary");
  }

  @include when("active") {
    color: getCssVar("primary", "base");
  }

  @each $size, $config in $menu-button-config {
    @include m($size) {
      @include applyToken($gap, map.get($config, "gap"));
      @include applyToken($padding, map.get($config, "padding"));
    }
  }
}

@include b("menu-divider") {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid getCssVar("border", "secondary");
}

@include b("menu-group") {
  display: flex;
  flex-direction: column;

  @include e("button") {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    user-select: none;

    color: getCssVar("text", "secondary");
    background-color: transparent;
    border: none;
    cursor: pointer;

    @include useIcon(1em);
    svg { flex-shrink: 0 }

    span {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      color: getCssVar("text", "primary");
    }

    @each $size, $config in $menu-button-config {
      @include m($size) {
        @include applyToken($gap, map.get($config, "gap"));
        @include applyToken($padding, map.get($config, "padding"));
      }
    }
  }

  @include e("children") {
    display: flex;
    flex-direction: column;

    color: getCssVar("text", "secondary");

    @each $size, $config in $menu-group-config {
      @include m($size) {
        @include applyToken($gap, map.get($config, "gap"));
        @include applyToken($font-size, map.get($config, "font-size"));
      }
    }
  }

  @include when("collapsed") {
    @include e("button") {
      svg {
        transform: rotate(-90deg);
      }
    }
  }
}
