@use "sass:map";
@use "sass:list";
@use "sass:string";
@use "abstract" as *;
@use "tokens" as *;
@use "public" as *;

$header-height: 3.5em;
$icon-ratio: 1.35em;

@include b("nav") {
  display: flex;
  flex-direction: column;
  color: getCssVar("text", "primary");

  @include useUnselect();

  @include applyToken($z-index, "nav");
  @include applyToken($font-size, "md");
  @include applyToken($font-weight, "normal");

  @include m("nav", "computer") {
    position: sticky;
    top: 0;
    width: 100%;
  }
  @include m("mobile") {
    position: relative;
  }

  @include e("header") {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $header-height;

    padding-inline: getToken($padding, "2xl");
    background-color: getCssVar("bg", "primary");
    border-bottom: 1px solid getCssVar("border", "primary");
  }

  @include em("header", "mobile") {
    padding-inline: getToken($padding, "md");
  }

  @include e("screen") {
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    @include setCssVar(("nav-header-height"), $header-height);
    top: getCssVar("nav-header-height");
    left: 0;
    bottom: 0;
    width: 100%;

    background-color: getCssVar("bg", "primary");
    padding-inline: getToken($padding, "4xl");
    padding-block: getToken($padding, "2xl");
    @include applyToken($gap, "2xl")
  }

  @include e("screen-items") {
    display: flex;
    flex-direction: column;
  }

  @include e("screen-icons") {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include applyToken($gap, "md");
    @include applyToken($padding, "md");
    @include applyToken($border-radius, "sm");

    border: 1px solid getCssVar("border", "secondary");
    background-color: getCssVar("bg", "secondary");
  }
}

@include b("nav-divider") {
  $inline-margin: getToken($margin, "md");

  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: calc($header-height - $inline-margin * 4);
  border-left: 1px solid getCssVar("border", "primary");

  margin-inline: $inline-margin;
  @include m("screen") {
    display: none;
  }
}

@include b("nav-space") {
  flex: 1;
  @include m("screen") {
    display: none;
  }
}

@include b("nav-button") {
  display: contents;

  @include e("link") {
    // default:header
    box-sizing: content-box;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    @include useLink();
    span {
      flex: 1;
      @include useOneLine();
    }

    padding-inline: getToken($padding, "md");
    @include applyToken($gap, "sm");

    &:hover {
      color: getCssVar("primary", "hover");
    }
    @include useIcon($icon-ratio);
  }

  @include em("link", "header") {
    @include when("active") {
      color: getCssVar("primary", "active");
      border-bottom: 2px solid getCssVar("primary", "active");
    }
  }
  @include em("link", "screen") {
    display: flex;
    height: initial;
    flex-direction: row-reverse;

    @include applyToken($gap, "lg");
    @include applyToken($padding, "lg");
    @include applyToken($line-height, "loose");

    &:not(.is-icon) {
      border-bottom: 1px solid getCssVar("border", "primary");
    }

    @include when("icon") {
      font-size: 1.1em;
    }
    @include when("active") {
      color: getCssVar("primary", "active");
    }
  }
}

@include b("nav-menu") {
  @include e("trigger") {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    span {
      flex: 1;
      @include useOneLine();
    }

    padding-block: getToken($padding, "lg");
    padding-inline: getToken($padding, "md");
    @include applyToken($gap, "sm");

    @include useIcon($icon-ratio);

    &:hover {
      color: getCssVar("primary", "base");
    }
  }

  @include em("trigger", "screen") {
    @include applyToken($gap, "lg");
    @include applyToken($line-height, "loose");
    svg:nth-of-type(1) {
      display: none;
    }
  }

  @include m("screen") {
    border-bottom: 1px solid getCssVar("border", "primary");
  }
}

@include b("nav-switch") {
  display: flex;
  justify-content: center;
  align-items: center;

  @include useIcon($icon-ratio);
  @include applyToken($padding, "lg");
  padding-block: 0;

  :hover {
    color: getCssVar("primary", "base");
  }
}