@use "sass:map";
@use "abstract" as *;
@use "tokens" as *;

$pop-size-config: (
  small: (
    font-size: "sm",
    padding: "sm",
  ),
  medium: (
    font-size: "md",
    padding: "md",
  ),
  large: (
    font-size: "md",
    padding: "lg",
  )
);

$pop-arrow-size: (
  small: 0.4em,
  medium: 0.5em,
  large: 0.6em,
);

@include b("popper") {
  // ignore in dom flow
  display: contents;

  @include e("trigger") {
    display: inline-flex;
    cursor: pointer;
  }

  @include e("content") {
    position: fixed;
    visibility: hidden;

    @include applyToken($z-index, "popper");
    @include applyToken($border-radius, "md");

    background-color: getCssVar("bg", "secondary");
    border: 1px solid getCssVar("border", "secondary");
    color: getCssVar("text", "secondary");
    word-wrap: break-word;
  }

  @each $size, $config in $pop-size-config {
    @include em("content", $size) {
      @include applyToken($font-size, map.get($config, "font-size"));
      @include applyToken($padding, map.get($config, "padding"));
    }
  }

  @include em("content", "block") {
    padding-inline: 0;
  }

  @include em("content", "block") {
    padding-inline: 0;
  }

  @include e("arrow") {
    position: fixed;
    visibility: hidden;

    @include applyToken($z-index, "popper-above");

    transform: rotate(45deg);
    background-color: getCssVar("bg", "secondary");
    border: 1px solid getCssVar("border", "secondary");
    border-top-color: transparent;
    border-left-color: transparent;
  }

  @each $size, $arrow-size in $pop-arrow-size {
    @include em("arrow", $size) {
      width: $arrow-size;
      height: $arrow-size;
    }
  }

  @each $placement, $degree in (top: 45deg, right: 135deg, bottom: 225deg, left: 315deg) {
    @include em("arrow", $placement) {
      transform: rotate($degree);
    }
  }
}


