@use "sass:map";
@use "sass:list";
@use "_public" as *;
@use "abstract" as *;
@use "tokens" as *;

$rm-group-spacing: (
  small: "xs",
  medium: "sm",
  large: "sm",
);

$rm-size-config: (
  small: (
    font-size: "sm",
    font-weight: "light",
    line-height: "tight",
    // non-inherit
    margin: "sm",
    padding: "sm",
    min-width: 150px,
    max-width: 350px,
  ),
  medium: (
    font-size: "md",
    font-weight: "normal",
    line-height: "normal",
    margin: "md",
    padding: "md",
    min-width: 200px,
    max-width: 400px,
  ),
  large: (
    font-size: "md",
    font-weight: "normal",
    line-height: "normal",
    margin: "md",
    padding: "md",
    min-width: 250px,
    max-width: 450px,
  )
);

@mixin useRMenuItem() {
  @include applyToken($border-radius, "md");

  @each $size, $config in $rm-size-config {
    @include m($size) {
      @include applyToken($padding, map.get($config, "padding"));
      @include applyToken($margin, map.get($config, "margin"));
      margin-bottom: 0;
    }
  }
}

@mixin useRMenuColor() {
  background-color: transparent;

  @include when("disabled") {
    color: getCssVar("text", "disabled");
    @include applyToken($opacity, "disabled");
  }

  &:not(.is-disabled) {
    @include when("selected") {
      color: getCssVar("text", "inverse");
      background-color: getCssVar("primary", "base");
    }
  }
}

@include b("right-menu") {
  display: flex;
  flex-direction: column;

  color: getCssVar("text", "primary");
  background-color: getCssVar("bg", "primary");
  border: 1px solid getCssVar("border", "primary");

  @include applyToken($border-radius, "md");
  @include applyToken($z-index, "right-menu");

  &:hover {
    border-color: getCssVar("primary", "base");
  }

  @each $size, $config in $rm-size-config {
    @include m($size) {
      min-width: map.get($config, "min-width");
      max-width: map.get($config, "max-width");

      @include applyToken($font-size, map.get($config, "font-size"));
      @include applyToken($font-weight, map.get($config, "font-weight"));
      @include applyToken($line-height, map.get($config, "line-height"));

      > :last-child {
        $margin-key: map.get($config, "margin");
        margin-bottom: getToken($margin, $margin-key);
      }
    }
  }
}

@include b("r-menu-icon") {
  position: relative;
  display: flex;
  justify-content: center;

  @each $size in ("small", "medium", "large") {
    @include m($size) {
      $margin-key: map.get(map.get($rm-size-config, $size), "margin");
      margin-top: getToken($margin, $margin-key);
    }
  }

  @include e("container") {
    @include useRMenuItem();
    @include useRMenuColor();

    display: flex;
    align-items: center;
    justify-content: center;

    width: 2em;
    height: 2em;

    @include useIcon(1.2em);
  }
}

@include b("r-menu-group") {
  @include e("text") {
    font-size: 0.9em;
    display: flex;
    align-items: center;
    text-align: start;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    color: getCssVar("text", "secondary");
    @include when("disabled") {
      color: getCssVar("text", "disabled");
    }
  }

  @each $size, $type in $rm-group-spacing {
    @include em("text", $size) {
      padding: getToken($padding, $type);
      margin: getToken($margin, $type);
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  @include em("container", "component") {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include em("container", "icon") {
    display: grid;
  }

  @include e("button") {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    border: none;
    background-color: transparent;
    color: getCssVar("text", "secondary");

    @include useIcon(0.5em);
    @include when("expanded") {
      svg {
        transform: rotate(180deg);
      }
    }

    @include applyToken($border-radius, "md");

    @each $size, $type in $rm-group-spacing {
      @include em("button", $size) {
        @include applyToken($margin, $type);
        @include applyToken($padding, $type);
        margin-bottom: 0;
      }
    }

    @include when("disabled") {
      color: getCssVar("text", "disabled");
      @include applyToken($opacity, "disabled");
    }

    &:not(.is-disabled) {
      @include when("selected") {
        color: getCssVar("text", "inverse");
        background-color: getCssVar("primary", "base");
      }
    }
  }
}

$divider-spacing: (
  "small": "xs",
  "medium": "sm",
  "large": "sm",
);

@include b("r-menu-divider") {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 0.6em;
  color: getCssVar("text", "tertiary");

  span {
    padding-inline: 0.5em;
    background-color: getCssVar("bg", "primary");
    white-space: nowrap;
    flex-shrink: 0;
  }

  &::before,
  &::after {
    content: "";
    border-top: 1px solid getCssVar("border", "secondary");
  }

  @include m("align-start") {
    &::before{ flex: 1; }
    &::after{ flex: 10; }
  }
  @include m("align-center") {
    &::before,
    &::after {
      flex: 1;
    }
  }
  @include m("align-end") {
    &::before{ flex: 10; }
    &::after{ flex: 1; }
  }

  @each $size, $type in $divider-spacing {
    @include m($size) {
      margin-top: getToken($margin, $type);
      padding-top: getToken($padding, $type);
    }
  }
}

@include b("r-menu-text") {
  @include useRMenuItem();
  @include useRMenuColor();

  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  user-select: none;

  @include e("icon") {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 1.2em;
    height: 1.2em;

    @include useIcon();
  }

  @include e("text") {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @each $align in ("start", "center", "end") {
    @include em("text", "align-#{$align}") {
      text-align: #{$align};
    }
  }
}

@include b("r-menu-submenu") {
  @include useRMenuItem();
  @include useRMenuColor();

  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  user-select: none;

  @include e("left-icon", "expand-icon") {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 1.2em;
    height: 1.2em;

    @include useIcon();
  }

  @include e("text") {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @each $align in ("start", "center", "end") {
    @include em("text", "align-#{$align}") {
      text-align: #{$align};
    }
  }
}