@use "sass:map";
@use "sass:string";
@use "sass:list";
@use "abstract" as *;
@use "public" as *;

$rm-item-radius: (
  "small": "sm",
  "medium": "sm",
  "large": "md",
);
$rm-item-space: (
  "small": "sm",
  "medium": "md",
  "large": "md",
);
$rm-item-space-lower: (
  "small": "sm",
  "medium": "sm",
  "large": "md",
);
$rm-item-width: (
  "small": 120px,
  "medium": 150px,
  "large": 200px,
);
$rm-sizes: (
  // font, weight, padding, border-width, radius
  "small": ("md", "light", "sm", "thin", "md"),
  "medium": ("md", "light", "md", "base", "md"),
  "large": ("lg", "normal", "md", "base", "lg"),
);

@mixin useRMenuItem() {
  @include useUnselect();
  @each $size in $index-sizes {
    @include m($size) {
      padding: getCssVar("padding", map.get($rm-item-space, "#{$size}"));
      border-radius: getCssVar("border-radius", map.get($rm-item-radius, "#{$size}"));
    }
  }
}

@mixin useRMenuColor() {
  @include when("disabled") {
    color: getCssVar("text", "secondary");
  }
  &:not(.is-disabled) {
    @include when("selected") {
      color: getCssVar("text", "inverse");
      background-color: getCssVar("accent", "active");
    }
  }
}

@mixin useRMenuText() {
  @each $size in $index-sizes {
    @include m($size) {
      gap: getCssVar("gap", map.get($rm-item-space, "#{$size}"));
      min-width: map.get($rm-item-width, "#{$size}");
    }
  }
}

@mixin useTextAlign() {
  @each $align in ("start", "center", "end") {
    &[align-#{$align}] {
      text-align: string.unquote($align);
    }
  }
}


@include b("right-menu") {
  z-index: getCssVar("z-index", "modal");
  color: getCssVar("text", "primary");
  background-color: getCssVar("bg", "primary");

  @include useFlex(column);
  @include useBorder(null, "primary");
  @each $size, $types in $rm-sizes {
    @include m($size) {
      font-size: getCssVar("font-size", list.nth($types, 1));
      font-weight: getCssVar("font-weight", list.nth($types, 2));
      padding: getCssVar("padding", list.nth($types, 3));
      border-width: getCssVar("border-width", list.nth($types, 4));
      border-radius: getCssVar("border-radius", list.nth($types, 5));
    }
  }

  @include when("selected") {
    border-color: getCssVar("accent", "active");
  }
}

@include b("r-menu-icon") {
  position: relative;
  @include useRMenuItem();
  @include useRMenuColor();
  @include useFlex(row, center, center);

  @include useIcon();
}

@include b("r-menu-divider") {
  font-size: 0.7em;
  color: getCssVar("text", "tertiary");

  @include useFlex(row, null, center);

  span {
    padding-inline: 0.5em;
    white-space: nowrap;
    flex-shrink: 0;
  }

  &::before,
  &::after {
    content: "";
    @include useBorder("bottom", "secondary", "thin");
  }

  @include m("align-start") {
    &::before{ flex: 1; }
    &::after{ flex: 10; }
  }
  @include m("align-center") {
    &::before,
    &::after {
      flex: 1;
    }
  }
  @include m("align-end") {
    &::before{ flex: 10; }
    &::after{ flex: 1; }
  }

  @each $size, $margin in $rm-item-space-lower {
    @include m($size) {
      margin-block: getCssVar("margin", $margin);
    }
  }
}

@include b("r-menu-text") {
  @include useRMenuItem();
  @include useRMenuColor();
  @include useIcon();
  svg {
    flex-shrink: 0;
  }

  @include useFlex(row, null, center);
  @include useRMenuText();

  @include e("text") {
    flex: 1;
    @include useNLine();
    @include useTextAlign();
  }
}

@include b("r-menu-submenu") {
  @include useRMenuItem();
  @include useRMenuColor();

  @include useFlex(row, null, center);
  @include useRMenuText();

  @include useIcon();
  svg {
    flex-shrink: 0;
  }

  @include e("text") {
    flex: 1;
    @include useNLine();
    @include useTextAlign();
  }
}

@include b("r-menu-group") {
  color: getCssVar("text", "primary");
  @include useFlex(column);

  @each $size in $index-sizes {
    @include m($size) {
      border-radius: getCssVar("border-radius", map.get($rm-item-radius, "#{$size}"));
    }
  }

  @include useBorder(null, "secondary", "base");
  border-color: transparent;

  @include m("component") {

  }

  @include m("icon") {
    @include when("selected") {
      border-color: getCssVar("accent", "active");
    }
  }

  @include e("text") {
    font-size: 0.9em;
    text-align: start;
    color: getCssVar("text", "secondary");

    @include useNLine();
    @include useFlex(row, null, center);

    @each $size, $margin in $rm-item-space-lower {
      @include m($size) {
        margin: getCssVar("margin", $margin);
      }
    }
  }

  @include e("container") {
    @include m("component") {
      @include useFlex(column);
    }
    @include m("icon") {
      display: grid;
      gap: getCssVar("rmenu-group-icon-gap");

      &>div {
        margin: auto;
      }
    }
    @each $size, $gap in $rm-item-space-lower {
      @include m($size) {
        #{getCssVarName("rmenu-group-icon-gap")}: getCssVar("gap", $gap);
      }
    }
  }

  @include e("button") {
    flex-shrink: 0;
    justify-self: center;

    @include useIcon();
    @include useRMenuColor();
    @include useFlex(column, center, center);

    @include when("expanded") {
      svg {
        transform: rotate(180deg);
      }
    }

    @each $size in $index-sizes {
      @include m($size) {
        border-radius: getCssVar("border-radius", map.get($rm-item-radius, "#{$size}"));
      }
    }
  }
}
