@use "sass:map";
@use "abstract" as *;
@use "public" as *;

@include b("sidebar") {
  position: sticky;
  overflow-y: auto;
  overflow-x: hidden;

  padding-block: getCssVar("padding", "lg");

  top: $header-height;
  height: calc(100vh - $header-height);

  @include m("pad") {
    top: 0;
  }
}