@use "sass:list";
@use "abstract" as *;
@use "public" as *;

@include b("toc") {
  position: relative;
  color: getCssVar("text", "secondary");

  @include useFlex(column, null, null, "sm");

  @each $size, $types in (
    // font, line
    "small": ("sm", "tight"),
    "medium": ("md", "tight"),
    "large": ("md", "normal"),
  ) {
    @include m($size) {
      font-size: getCssVar("font-size", list.nth($types, 1));
      line-height: getCssVar("fline-height", list.nth($types, 2));
    }
  }

  @include e("slider") {
    position: absolute;
    left: 0;
    width: 2px;
    border-radius: 2px;
    background-color: getCssVar("accent", "base");
  }

  @include e("item") {
    @include useLink();
    @include useNLine(2);

    color: getCssVar("text", "secondary");
    &:hover {
      color: getCssVar("accent", "hover");
    }
    @include when("active") {
      color: getCssVar("accent", "active");
    }


    @each $size, $margin in (
      "small": "lg",
      "medium": "lg",
      "large": "xl",
    ) {
      @include m($size) {
        #{getCssVarName("toc-item-margin")}: getCssVar("margin", $margin);
      }
    }

    @each $num in (1,2,3,4,5,6) {
      @include m("level-#{$num}") {
        margin-left: calc($num * getCssVar("toc-item-margin"));
      }
    }
    @include m("level-1") {
      font-size: 1em;
    }
    @include m("level-2") {
      font-size: 0.9em;
    }
    @include m("level-3", "level-4", "level-5", "level-6") {
      font-size: 0.85em;
    }
  }
}