$light-palette: (
  // gray
  // blues
  // Greens
  // Reds
  // Purples
  // Orange
);

$dark-palette: (
  // gray
  // blues
  // Greens
  // Reds
  // Purples
  // Orange
);

$light-tokens: (
  // semantic theme color
);

$dark-tokens: (
  // semantic theme color
);

$size-tokens: (
  // define:
  // font-size, font-weight, line-height, letter-spacing
  // spacing (margin, padding, gap), border-relative
  // z-index, opacity
);