@use "sass:list";
@use "sass:map";
@use "sass:string";
@use "sass:meta";
@use "config" as *;

/* CSSVar Support */
@function getCssVarName($keys...) {
  $name: "--#{$namespace}";
  @each $key in $keys {
    @if $key != "" {
      $name: '#{$name}#{$common-separator}#{$key}';
    }
  }
  @return $name;
}

@function getCssVar($keys...) {
  @return var(#{getCssVarName($keys...)});
}

@mixin setCssVar($keys, $value) {
  #{getCssVarName($keys...)}: #{$value};
}

/* Theme Mixins */
@function flattenTokenMap($map, $prefix: ()) {
  $result: ();
  @each $key, $value in $map {
    $current-path: list.append($prefix, $key);

    @if meta.type-of($value) == 'map' {
      $result: map.merge($result, flattenTokenMap($value, $current-path));
    } @else {
      $result: map.set($result, $current-path, $value);
    }
  }
  @return $result;
}

@mixin generateTokenVars($token-map) {
  $flatten-map: flattenTokenMap($token-map);

  @each $keys, $value in $flatten-map {
    #{getCssVarName($keys...)}: #{$value};
  }
}

@mixin registerTheme(
  $name,
  $foundation,
  $light,
  $dark,
  $is-default: false,
) {
  $root-selector: "";
  @if $is-default {
    $root-selector: ":root"
  } @else {
    $root-selector: ":root[data-theme=\"#{$name}\"]"
  }

  @at-root {
    #{$root-selector} {
      @include generateTokenVars($foundation);
      @include generateTokenVars($light);
      @content;
    }
    #{$root-selector}[data-dark] {
      @include generateTokenVars($dark);
    }
  }
}

@mixin scopedThemes($names...) {
  @each $name in $names {
    $root-selector: "";
    @if $name == null or $name == "" {
      $root-selector: ":root"
    } @else {
      $root-selector: ":root[data-theme=\"#{$name}\"]"
    }
    #{$root-selector} {
      @content
    }
  }
}

/* Token Derive Support */
$CURRENT_PALETTE: null !default;

@mixin palette($palette) {
  $CURRENT_PALETTE: $palette !global;
}

@function g($color-name) {
  @return map.get($CURRENT_PALETTE, $color-name);
}

@function s($color, $nums) {
  @if list.length($nums) != 8 {
    @error "s need 8-length nums arr";
  }

  $bg-disabled:  list.nth($nums, 1);
  $bg:           list.nth($nums, 2);
  $bg-hover:     list.nth($nums, 3);
  $bg-active:    list.nth($nums, 4);
  $disable:      list.nth($nums, 5);
  $active:       list.nth($nums, 6);
  $hover:        list.nth($nums, 7);
  $base:         list.nth($nums, 8);

  @return (
    // background
    bg-disabled: g(string.unquote("#{$color}-#{$bg-disabled}")),
    bg:          g(string.unquote("#{$color}-#{$bg}")),
    bg-hover:    g(string.unquote("#{$color}-#{$bg-hover}")),
    bg-active:   g(string.unquote("#{$color}-#{$bg-active}")),
    // foreground
    disabled:    g(string.unquote("#{$color}-#{$disable}")),
    hover:       g(string.unquote("#{$color}-#{$hover}")),
    active:      g(string.unquote("#{$color}-#{$active}")),
    base:        g(string.unquote("#{$color}-#{$base}")),
  );
}